
.tab-pane *.tab-header-background {
    -fx-background-color: #F4F4F4;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em;
    -fx-border-width: 3
}

.button {
    -fx-font: bold italic 10pt "Arial";
    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
}